body {
	font-family: arial;
}

ul{
	display:inline;
	float: right;
}

.banner{
	float: left;
	margin-top: 30px;
	margin-left: 200px;
	margin-right: 500px;
	margin-bottom: 0px;
}

#mainPic {
	width: 100%;
	border: 5px solid #DBD3D9;
}

.wrapper {
	width: 800px;
	margin: auto;
}

.links {
	float: right;
	margin: 0px 158px 15px 600px;
}

.links a{
	padding: 10px;
	font-family: Helvetica;
	text-decoration: none;
	color: #BDB5BC;

}

.bagthumb{
	height: 200px;
	width: 260px;
	margin: 30px 30px 0px 30px;
	border: 2px solid #DBD3D9;
	
}

.bags{
	margin-left: 150px;
}

a:visited {
	color: #A8A2A8;
}

a:hover {
	color: #DBD3D9;
}

.aboutblurb {
	padding: 250px;
}

.aboutblurb p{
	font-size: 15px;
}

footer {
	margin: 40px;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	color: #BDB5BC;
}
